<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abdullahaljubaer.frc_offline">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_local_florist_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_local_florist_black_24dp"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".GUI.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GUI.RecommendationActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".GUI.CropInputActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".GUI.NutrientInputActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".GUI.NutrientInputActivityCopy"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".GUI.AezCropPatternActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".GUI.BalanceActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".GUI.GraphActivity"></activity>
    </application>

</manifest>